.generator {
    display: none;
    padding: 1.5rem 0;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    /* max-width: 1024px; */
    gap: 0.8rem;
}

.canvas-container {
    height: 330px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-bar {
    display: flex;
    flex-direction: column;
    /* gap: 2.625rem; */
    justify-content: space-between;
    width: 100%;
}

.top {
    display: flex;
    flex-wrap: wrap;
    gap: 1.125rem;
    row-gap: 0.562rem;
    width: 100%;
}

.mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.125rem;
    row-gap: 0.562rem;
}

.stroke,
.fill {
    cursor: pointer;
}

.tool-bar button,
.tool-bar input[type="color"] {
    font-family: Montserrat;
    height: 60px;
    width: 60px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
}

.tool-bar input[type="color"] {
    padding: 5px;
}


/* .tool-bar button:focus-visible {
outline-color: #FF7F00;
} */

.tool-bar button img {
    margin-top: 4px;
    height: 38px;
    width: 38px;
}

.tool-bar input,
.tool-bar select {
    height: 60px;
    font-family: Montserrat;
    font-size: 1.25rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    border-radius: 15px;
}


/* .tool-bar button:focus-visible,
.tool-bar input:focus-visible,
.tool-bar select:focus-visible,
.tool-bar input:hover,
.tool-bar button:hover,
.tool-bar select:hover {
    outline: unset;
    background-color: #FF7F00;
} */

.tool-bar button:hover,
.tool-bar select:hover {
    cursor: pointer;
}

.tool-bar .top {
    margin-bottom: 0.8rem;
    justify-content: center;
}

.tool-bar .top input {
    width: 100%;
}

.tool-bar .mid {
    margin-bottom: 1.062rem;
}

.tool-bar .stickers {
    display: inline-block;
}

.tool-bar .mid select {
    width: 13.5rem;
}

.tool-bar .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.tool-bar .stickers {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px
}

.sticker {
    object-fit: contain;
    width: 70px;
    height: 70px;
}

.sticker:hover {
    cursor: pointer;
}

.tool-bar .bottom button {
    height: 100%;
}

.tool-bar .bottom button:hover {
    height: 100%;
    background-color: #ff80006a;
}

.tool-bar .bottom button:first-of-type {
    border-end-end-radius: unset;
    border-start-end-radius: unset;
    width: 40px;
}

.tool-bar .bottom button:last-of-type {
    border-start-start-radius: unset;
    border-end-start-radius: unset;
    width: 40px;
}

.tool-bar .bottom button img {
    object-fit: fill;
    width: 24px;
    height: 39px;
}

button.share {
    background-color: #FF7F00;
    color: #FFFFFF;
    align-self: flex-end;
    width: 120px;
    font-size: 1.25rem;
}

.tool-bar button:focus-visible,
button.share:hover {
    font-weight: 900;
    color: #000000;
}

button input {
    opacity: 0;
}

.color img {
    position: relative;
    bottom: 55px;
    pointer-events: none;
}

button.btn {
    border-radius: 5px;
    height: 60px;
    width: 145px;
    position: relative;
    right: 10px;
    bottom: 5px;
    font-family: Montserrat-Bold;
    font-size: 1.25rem;
    color: #FF7F00
}

button.btn:hover {
    color: #FFFFFF;
    background-color: #FF7F00;
}

a.btn {
    border-radius: 0;
    /* padding-top: 1000px; */
    text-align: center;
}

button.btn {
    padding: 0;
    border-radius: 0;
}

button.btn:hover {
    padding: 0;
}

@media (min-width: 360px) {
    .mid {
        gap: 1.125rem;
    }
}

@media (min-width: 415px) {
    .mid {
        gap: 0.8rem;
    }
    .canvas-container {
        height: 330px;
    }
}

@media (min-width: 750px) {
    .canvas-container {
        height: 500px;
        /* width: 500px; */
    }
}

@media (min-width: 850px) {}

@media (min-width: 1060px) {
    .generator {
        flex-direction: row;
        gap: 3rem;
    }
    .canvas-container,
    canvas {
        width: 500px;
    }
}