.list {
    align-self: center;
    display: inline-block;
    height: 60px;
    width: 140px;
}

.list {
    margin-inline-end: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 7px;
    font-size: 23px;
}

li {
    font-weight: 900;
    border-radius: 6px;
    background-color: #fff;
}

li ul li {
    border-radius: 0px;
    background-color: #fff;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    padding: 5px 10px;
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
    line-height: 2;
    color: #FF7F00;
    text-decoration: none;
    box-shadow: blue 3px;
}

ul.nav li a:hover {
    color: #FFFFFF;
    background-color: #FF7F00;
    border: #FFFFFF solid 1px;
}

ul.nav li ul li {
    float: none;
}

ul.nav li ul {
    /* position: absolute; */
    display: none;
}

ul.nav li:hover ul {
    display: block;
}

.opt1 {
    border-top-right-radius: 6px;
    border-bottom: solid rgb(236, 189, 102) 2px;
}

.opt2 {
    border-bottom: solid rgb(236, 189, 102) 2px;
}

.opt3 {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.opt3:hover {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.title-list {
    /* border-radius: 20px; */
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
    line-height: 2;
    color: #FF7F00;
}

.title-list:hover {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

li a {
    font-family: Montserrat;
    cursor: pointer;
}

li a {
    height: 60px;
    width: 145px;
}

a div {
    align-self: center;
    position: relative;
    top: 13px;
}

a div.first {
    left: 28px
}

a div.second {
    left: 33px;
    top: 4px;
}

ul li ul li:first-child {
    border-top: solid rgb(236, 189, 102) 2px;
}